*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
div {
    font-size: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
}

.container .item{
    margin: 3rem 0rem;
}